/* CSS declarations go here */
header {
  padding: 20px;
  padding-top: 30px;
  position: relative;
  border-bottom: 2px black dashed;
}

header span{
    margin-top: 10px;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-turn input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: 1px solid black;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
  cursor: pointer;
}

.new-turn input:hover{
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}

.list-group-item:first-child{
  border-top: 0px;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 2em;
  border: none;
  position: absolute;
  right: 10px;
  cursor: pointer;
}

li img{
  height: 50px;
  border-radius: 50%;
}

header .hide-completed {
  float: right;
}

li .text{
    margin-left: 10px;
}

.toggle-private {
  margin-left: 5px;
}

.select_users{
  margin-top: 16px;
}

.user_in_select{
  position: relative;
  width: 100%;
  height: 100%;
}

.user_in_select img{
  height: 30px;
  border-radius: 50%;
}

.user_in_select label{
  position: absolute;
  top: 0px;
  left: 40px;
  font-size: 14px;
  width: 200px;
}
